<div>

    <div class="jumbotron">

        <p>Adicione novas músicas</p>

        <form class="musicasForm">
            <input class="form-control" placeholder="Título" ng-required="true" type="text" ng-model="musica.titulo">
            <input class="form-control" placeholder="Album" ng-required="true" type="text" ng-model="musica.album">

            <select ng-options="artista.nome for artista in artistas" class="form-control" ng-model="artista">
                <option value="">Selecione um artista</option>
            </select>

            <input class="form-control" placeholder="Duração" ng-required="true" type="text" ng-model="musica.duracao">
            <input class="form-control" placeholder="Ano de Lançamento" ng-required="true" type="text" ng-model="musica.ano">


        </form>

        <div class="buttons">
            <button class="btn btn-block btn-primary" ng-click="cadastrar(musica, artista)">Cadastrar música</button>
        </div>


    </div>






</div>