<div>

    <div class="perfil jumbotron">
        <p>{{artista.nome}}</p>
        <img ng-src="{{artista.imagem}}" class="fotoArtista"/>
        <div ng-if="artista.ehFavorito">
            <button class="btn">
                <span class="glyphicon glyphicon-star">Artista Favorito</span>
            </button>
        </div>
    </div>

    <div class="albumTable">

        <p class="albunsHead">Albuns</p>
        <table class="table table-striped">
            <tr ng-repeat="musica in artista.albuns">
                <td>{{musica.nome}}<td>
            </tr>
        </table>
    </div>

    <div class="musicTable">

        <table>
            <tr>
                <th>{{"Musicas do album: " + album.nome}}</th>
            </tr>
        </table>


    </div>

</div>