<div>

    <div class="perfil jumbotron">
        <p>{{artista.nome}}</p>
        <img ng-src="{{artista.imagem}}" class="fotoArtista"/>
        <p>{{"Última música escutada: " + artista.ultimaMusica.titulo}}</p>
        <div ng-if="artista.ehFavorito">
            <button class="btn ehFav" ng-click="tentouDesfavoritar(artista)">
                <span class="glyphicon glyphicon-star"></span><p>Artista Favorito</p>
            </button>
            <div ng-if="artista.tentouDesfavoritar" class="botoesConfirmacao">
                    <button class="btn btn-danger" ng-click="desfavoritar(artista)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button class="btn btn-primary" ng-click="cancelar(artista)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </td>
        </div>
        <div ng-if="!artista.ehFavorito">
            <button class="btn naoEhFav" ng-click="favoritar(artista)">
                <span class="glyphicon glyphicon-star-empty"><p>Artista Favorito</p></span>
            </button>
        </div>
    </div>

    <div class="albumTable">

        <p class="albuns">Albuns</p>
        <table class="table table-striped">
            <tr ng-repeat="album in artista.albuns">
                <td><a ng-click="selecionar(album)">{{album.nome}}</a></td>
            </tr>
        </table>
    </div>

    <div ng-if="albumSelecionado" class="musicasDoAlbum">
        <p class="albuns">{{"Músicas de " + albumSelecionado.nome}}</p>
        <table class="table table-striped tabelaMusicas">
                <tr>
                    <th>Ano de Lançamento</th>
                    <th>Título</th>
                    <th>Duração</th>
                </tr>
                <tr ng-repeat="musica in albumSelecionado.musicas">
                    <td>{{musica.ano}}</td>
                    <td><a ng-click="escutar(musica)">{{musica.titulo}}</a></td>
                    <td>{{musica.duracao}}</td>
                </tr>
            </table>
    </div>

</div>