@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower.ttf') format('truetype');
}

@font-face {
    font-family: 'Humanst';
    src: url('../fonts/Humanst.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

body {
    font-family: Humanst;
}

.jumbotron {
    width: 400px;
    float: left;

    border-radius: 9px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 45px;

}

.artForm {
    width: 300px;
    margin-left: 50px;
}

input {
    margin-top: 3px;
}

.buttons {
    width: 300px;
    margin-top: 10px;
    margin-left: 50px;
}

.header {
    background-color: rgba(191,217,220);
}

.resize {
    width: 130px !important;
    height: 65px !important;
    margin-bottom: 2px;
    padding-top: 15px;
    float: left;
}

.displayArtistas {
    float: left;

    width: 600px;
    text-align: center !important;

    margin-top: 50px;
    margin-left: 90px;

}

table {
    border-radius: 9px;
}

th, td {
    text-align: center;
}

.alert {
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-family: IndieFlower;
    font-size: 30px;
    text-align: center;
}

.musicasForm {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    margin-bottom: 5px;
}

a.link {
    text-decoration:none;
    color:black;
}

.fotoArtista {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    object-fit: cover;
}

.albumTable {
    margin-top: 50px;
    margin-left: 30px;
    float: left;
    width: 300px;
}

.albuns {
    float: left;
    text-align: left;
    font-size: 30px;
}

.musicasDoAlbum {
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    width: 400px !important;
}

.btn.ehFav {
    background-color: gold;
    margin-top: 10px;
    margin-left: 115px;
    height: 40px;

}

.btn.naoEhFav {
    margin-top: 10px;
    margin-left: 115px;
    height: 40px;
}

.botoesConfirmacao {
    margin-top: 5px;
    margin-left: 150px;
}

.pForm {
    margin-top: 103px;
}

body {
    background: linear-gradient(180deg, rgb(248,236,194), rgb(223, 159, 232)) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: IndieFlower !important;
    font-size: 170% !important;
}

.estrelas {
    margin-top: 10px !important;
}

.dropdown-menu {
    position: relative !important;
}

li {
    text-align: center;
}

confirm {
    width: 15px;
}